@use "sass:math";
@use "../abstracts/mixins" as *;
@use "../abstracts/base" as *;
@use "../abstracts/mixins-settings" as *;
@use "../abstracts/breakpoints" as *;

.header {
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: oklch(var(--bg-tertiary));

	&__top {
	}

	&__main {
	}

	&__logo {
	}

	&__menu {
	}

	&__actions {
	}
}

.header-top {
	position: relative;
	z-index: 9999;
	background-color: oklch(var(--bg-secondary));
	color: oklch(var(--text-tertiary));

	&__container {
		@include adaptiveValue("padding-block", 8, 4);
	}

	p {
		font-weight: 600;
		font-size: toRem(12);
		text-align: center;
		letter-spacing: toRem(0.8);
	}
}
.header-main {
	@include adaptiveValue("--width", 186, 138);
	background-color: oklch(var(--bg-tertiary));

	&__logo {
		display: flex;
		@media (max-width: $mobile) {
			flex: 1;
			justify-content: center;
		}

		svg {
			width: var(--width);
		}
	}

	&__container {
		display: flex;
		align-items: center;
		@media (min-width: $mobile) {
			justify-content: space-between;
		}
		@include adaptiveValue("gap", 16, 10);
		@include adaptiveValue("padding-block", 16, 10);

		> * {
			&:not(.header-main__menu) {
				position: relative;
				z-index: 9999;
			}
		}
	}

	&__menu {
	}
}
.menu {
	position: relative;

	@media (min-width: $mobile) {
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			top: var(--header-height);
			backdrop-filter: blur(toRem(7.5));
			background-color: rgba(0, 0, 0, 0.48);
			transition: opacity 0.3s;
			opacity: 0;
			pointer-events: none;
		}

		&:has(.header-spollers__spoller[open]) {
			&::before {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__icon {
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: toRem(44);
	}

	&__list {
		flex: 1;
		@media (min-width: $mobile) {
			display: flex;
			flex-wrap: wrap;
			@include adaptiveValue("column-gap", 30, 10);
		}
	}

	&__actions {
	}
}

.actions-menu {
	display: flex;
	padding-block-start: toRem(15);
	@include adaptiveValue("padding-inline", 12, 4, 360, $minWidth);
	border-top: toRem(1) solid #cbcbcb;
	column-gap: toRem(4);
	@media (min-width: $mobile) {
		display: none;
	}

	> * {
		flex: 1 1 50%;
	}

	&__item {
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #5a6d57;
		height: 100%;
		border: toRem(1) solid #5a6d57;
		padding-block: toRem(8);
		padding-inline: toRem(10);
		column-gap: toRem(8);
		@include adaptiveValue("font-size", 14, 12, 0, 360, $minWidth);

		span {
			line-height: math.div(24, 14);
			text-transform: capitalize;
		}
	}
}

.header-actions {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 38, 14, 0, $maxWidth, $minWidth);

	&--left {
		@media (min-width: $mobile) {
			display: none;
		}
	}

	&__item {
		&--profile {
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}

	&__link {
	}
}
