@use "../abstracts/mixins-settings" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			overflow: auto;
			padding: var(--header-height) toRem(15) toRem(30) toRem(15);
			transition:
				visibility 0.3s,
				opacity 0.3s;
			background-color: oklch(var(--bg-tertiary));

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				left: 0;
				height: var(--header-height);
				top: 0;
				transition:
					visibility 0.3s,
					opacity 0.3s;
				z-index: 2;
				background-color: oklch(var(--bg-tertiary));
			}

			.menu-open & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: $mobile) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $mobile) {
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(20);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
