@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/base" as *;
@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/vendor/swiper";

.page {
	@include adaptiveValue("padding-block", 32, 0);

	&__breadcrumbs {
		@include adaptiveValue("margin-block-end", 50, 24);
	}

	&__product {
		@include adaptiveValue("margin-block-end", 32, 24);
	}

	&__specifications {
		@include adaptiveValue("margin-block-end", 32, 24);
	}
}

.product {
	&__layout {
		display: grid;
		@include adaptiveValue("gap", 24, 12);

		@media (min-width: $mobile) {
			grid-template-columns: minmax(toRem(450), 49.01%) 1fr;
		}

		[class*="__wrapper"] {
			min-width: 0;
		}
	}

	&__sliders {
		@media (max-width: $mobile) {
			margin-inline: toRem(-15);
		}
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: minmax(toRem(100), 20.16%) 1fr;
			@include adaptiveValue("gap", 48, 16, 0, 991.98, 767.98);
		}
	}

	&__slider {
		display: grid;
		background-color: #d9d9d9;

		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-block-end: toRem(8);
			}
		}

		.swiper-slide {
			position: relative;
			aspect-ratio: 427 / 512;

			@media (max-width: $mobile) {
				aspect-ratio: 360 / 480;
			}

			img {
				position: absolute;
				inset: 0;

				@media (min-width: $mobile) {
					object-fit: contain;
				}
			}
		}
	}

	&__thumbnails {
		max-height: 100%;
		overflow: hidden;

		@media (max-width: $mobile) {
			display: none;
			visibility: hidden;
		}

		.swiper-slide {
			display: block;
			cursor: pointer;
			opacity: 0.4;
			transition: opacity 150ms;

			&-thumb-active {
				opacity: 1;
			}
		}
	}

	&__pagination {
		@media (min-width: $mobile) {
			display: none;
			visibility: hidden;
		}
	}
}

.body-product {
	container-type: inline-size;

	&__form {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 24, 16);
		}
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__text {
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 12);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 24, 16);
		}
	}

	&__picker {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 24, 16);
		}
	}

	&__size-guide {
		align-self: flex-end;
	}

	.select_size {
		&:not(:last-child) {
			margin-block-end: toRem(14);
		}
	}

	&__submit {
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		gap: toRem(12);
	}

	@container (max-width: #{toEm(390)}) {
		.body-product__footer {
			flex-direction: column;
		}
	}
}

.spollers-specifications {
	display: flex;
	flex-direction: column;
	// row-gap: toRem(16);

	&__spoller {
		border: toRem(1) solid #cbcbcb;

		&:not(:last-child) {
			margin-block-end: toRem(-1);
		}
	}

	&__title {
		position: relative;
		display: flex;
		cursor: pointer;
		font-weight: 700;
		line-height: 140%;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 20, 14);
		@include adaptiveValue("padding", 24, 12);
		@include adaptiveValue("padding-inline-end", 48, 24);
		background-color: #f0f2ef;
		color: oklch(var(--text-primary));
		@extend .transition-colors;

		&._spoller-active {
			// background-color: transparent;
			color: oklch(var(--text-secondary));
		}
	}

	&__icon {
		color: oklch(var(--text-primary));
		position: absolute;
		@include adaptiveValue("top", 32, 14);
		right: toRem(16);

		._spoller-active & {
			color: oklch(var(--text-secondary));
		}

		span {
			&:last-child {
				._spoller-active & {
					transform: translateX(-50%) rotate(-90deg);
				}
			}
		}
	}

	&__body {
		background-color: #f0f2ef;
	}

	&__content {
	}

	&__content {
		@include adaptiveValue("padding-block-end", 24, 12);
		@include adaptiveValue("padding-inline", 24, 12);
		@include adaptiveValue("font-size", 16, 12);

		line-height: 180%;
	}
}

.specifications {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
		align-items: start;
		@include adaptiveValue("gap", 24, 12);
	}

	&__block {
		&--description {
			@include adaptiveValue("padding", 24, 12);
			border: toRem(1) solid #cbcbcb;
			background-color: #f0f2ef;
			color: oklch(var(--text-primary));
		}
	}

	&__title {
		border-bottom: toRem(1) solid #cbcbcb;
		padding-block: toRem(8);
		padding-inline: toRem(16);

		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 18, 14);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 47, 12);
		}

		line-height: 180%;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
	}
}

.recommendations {
	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	&__wrapper {
		&:not(:last-child) {
			margin-block-end: toRem(34);
		}
	}
}
