@use "sass:math";
@use "../../abstracts/mixins" as *;
@use "../../abstracts/base" as *;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: toRem(10);
	padding-block: toRem(8);
	padding-inline: toRem(44);
	color: oklch(var(--text-primary));
	background-color: oklch(var(--bg-tertiary));
	min-width: toRem(184);

	@extend .transition-colors;

	span {
		font-size: toRem(14);
		line-height: math.div(24, 14);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: oklch(var(--bg-tertiary) / 90%);
		}
	}

	&--secondary {
		color: oklch(var(--text-tertiary));
		background-color: oklch(var(--bg-secondary));

		@media (any-hover: hover) {
			&:hover {
				background-color: oklch(var(--bg-secondary) / 90%);
			}
		}
	}

	&--fw {
		width: 100%;
	}
}
