@use "../../abstracts/mixins" as *;
@use "../../abstracts/mixins-settings" as *;
@use "../../abstracts/variables" as *;

.select {
	min-width: 0;
	position: relative;

	&__body {
		position: relative;
	}

	&__title {
		color: inherit;
		text-align: left;
		cursor: pointer;
		width: 100%;
	}
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		gap: toRem(10);

		> * {
			flex: 1 1 auto;
		}

		&:after {
			content: "";
			align-self: stretch;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		height: 100%;
	}
	&__options {
		color: $textColor;
		background-color: $backgroundColor;
		position: absolute;
		min-width: 100%;
		left: 0;
		border-top: 0;
		border-top: 0;
	}
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: toRem(200);

		.simplebar-scrollbar {
			&::before {
			}
		}
	}
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: toRem(5) toRem(15);
		color: inherit;
		outline: none;

		&._select-selected {
			background-color: #eee;
		}

		@media (any-hover: hover) {
			&:hover,
			&:focus-visible {
				background: #d9d9d9;
			}
		}
	}

	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			border: toRem(5) solid #d9d9d9;
			border-bottom: 0;
			border-radius: toRem(5) toRem(4) 0 0;
			padding: toRem(5) 0 toRem(10) 0;
		}
	}

	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

.select_size {
	.select__title {
		border: toRem(1) solid #dfdfdf;
		padding-block: toRem(7.5);
		padding-inline: toRem(16);
	}
	.select__value {
		line-height: 140%;
		font-weight: 700;

		&::after {
			flex: 0 0 toRem(10);
			width: toRem(10);
			background: center / contain no-repeat
				url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.5L5 5.5L10 0.5H0Z' /%3E%3C/svg%3E%0A");
			transition: all 0.3s ease 0s;
		}
	}

	&._select-open {
		.select__value {
			&::after {
				transform: rotate(-180deg);
			}
		}
	}

	.select__options {
		border: toRem(1) solid #dfdfdf;
		border-block-start: none;
	}

	.select__option {
		display: flex;
		padding-block: toRem(10);
		padding-inline: toRem(10);

		&:not(:last-child) {
			border-bottom: toRem(1) solid #dfdfdf;
		}
	}
}

._select-tag {
	cursor: pointer;
}
