%ic {
	font-weight: normal;
	font-family: "icons", sans-serif;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	&--top {
		object-position: top;
	}
	&--bottom {
		object-position: bottom;
	}
	&--left {
		object-position: left;
	}
	&--right {
		object-position: right;
	}
	&--contain {
		object-fit: contain;
	}
}

// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

// Лічильник для списку
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: counter(item);
			counter-increment: item;
		}
	}
}
// Адаптивне відео
%responsiveVideo {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Відео як фон
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -100;
		width: auto;
		min-width: 100%;
		height: auto;
		min-height: 100%;
		background-size: cover;
		transform: translateX(-50%) translateY(-50%);
	}
}
// Сірий фільтр
%grayfilter {
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(1);
		}
	}
}
// Скасувати виділення
%noselect {
	user-select: none;
}
// Дзеркальне відображення
%mirror {
	transform: scale(-1, 1);
}
// Плавний скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Сховати скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%transition-colors {
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: 150ms;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
}
