$minWidth: 320;
$maxWidth: 1440;

$maxWidthContainer: 1224;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);
$responsiveType: 1;
