@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/variables" as *;
@use "@/scss/abstracts/base" as *;

body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.48);
	backdrop-filter: blur(toRem(7.5));
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition:
		opacity 150ms,
		visibility 150ms;
	pointer-events: none;
	z-index: 9999;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition:
		opacity 150ms,
		visibility 150ms;
	visibility: hidden;
	pointer-events: none;
}
[class*="popup__wrapper"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
[class*="popup__content"] {
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 150ms,
		visibility 150ms;
	background-color: $backgroundColor;
	width: 100%;

	.lock & {
		visibility: visible;
	}
}
._show-body body::after {
	opacity: 1;
}
._show {
	z-index: 10000;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
._show [class*="popup__content"] {
	visibility: visible;
	opacity: 1;
}

[class*="popup__close"] {
	color: oklch(var(--primary));
	@extend .transition-colors;

	@media (any-hover: hover) {
		&:hover,
		&:focus-visible {
			color: oklch(var(--secondary));
		}
	}
}

.welcome-popup {
	padding: toRem(15);
	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}

	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(20.5);
		}
	}

	&__body {
		text-align: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__quote {
		@include adaptiveValue("font-size", 24, 16);
		line-height: 180%;
		font-family: var(--font-secondary);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 24);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 24, 16);
		line-height: 140%;
		font-weight: 700;

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__close {
	}

	&__button {
		max-width: toRem(396);
	}
}

.verify-popup {
	padding: toRem(15);
	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}

	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(20.5);
		}
	}

	&__body {
		text-align: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__text {
		max-width: toRem(600);
		margin-inline: auto;
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 12);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 40, 16);
		}
	}

	&__link {
		color: oklch(var(--text-secondary));
	}
}

.size-popup {
	padding: toRem(15);

	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}
}
