@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/abstracts/variables" as *;
@use "@/scss/abstracts/base" as *;

body::before {
	content: "";
	inset: 0;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.48);
	visibility: hidden;
	opacity: 0;
	backdrop-filter: blur(toRem(7.5));
	transition:
		opacity 150ms,
		visibility 150ms;
	pointer-events: none;
}

body:has(.popup--cart._show) {
	&::before {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}

.popup {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.48);
	visibility: hidden;
	opacity: 0;
	backdrop-filter: blur(toRem(7.5));
	transition:
		opacity 150ms,
		visibility 150ms;
	pointer-events: none;
}

.popup:not(.popup--cart) [class*="popup__wrapper"] {
	align-items: center;
	justify-content: center;
}

[class*="popup__wrapper"] {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

[class*="popup__content"] {
	width: 100%;
	background-color: $backgroundColor;
	opacity: 0;
	transition: opacity 150ms;

	overflow: auto;

	._show:not(.popup--cart) & {
		@media (min-width: $mobile) {
			overflow: visible;
		}
	}
}
._show {
	z-index: 10000;
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
._show [class*="popup__content"] {
	visibility: visible;
	opacity: 1;
}

[class*="popup__close"] {
	color: oklch(var(--primary));
	@extend %transition-colors;

	@media (any-hover: hover) {
		&:hover,
		&:focus-visible {
			color: oklch(var(--secondary));
		}
	}
}

.welcome-popup {
	padding: toRem(15);
	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}

	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(20.5);
		}
	}

	&__body {
		text-align: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__quote {
		@include adaptiveValue("font-size", 24, 16);
		font-family: var(--font-secondary);
		line-height: 180%;

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 24);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: 140%;

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__close {
	}

	&__button {
		max-width: toRem(396);
	}
}

.verify-popup {
	padding: toRem(15);
	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}

	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(20.5);
		}
	}

	&__body {
		text-align: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 16);
		}
	}

	&__text {
		max-width: toRem(600);
		margin-inline: auto;
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 12);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 40, 16);
		}
	}

	&__link {
		color: oklch(var(--text-secondary));
	}
}

.size-popup {
	padding: toRem(15);

	&__content {
		max-width: toRem(854);
		@include adaptiveValue("padding", 32, 12);
	}
}

.cart-popup {
	inset: auto;
	bottom: 0;

	&--primary {
		background: none;
		backdrop-filter: none;

		.cart-popup__header {
			@media (min-width: toEm(627.98)) {
				display: none;
			}
		}
	}

	@media (min-width: $mobileSmall) {
		transform: translateX(calc(-100% + #{toRem(31)}));
		top: var(--header-height);
	}

	&:not(&--primary) {
		@media (max-width: $mobileSmall) {
			inset: 0;
		}

		@media (min-width: $mobileSmall) {
			min-width: toRem(320);
		}
	}

	&--primary {
		@media (max-width: toEm(627.98)) {
			inset: 0;
			transform: none;
		}

		@media (min-width: toEm(627.98)) {
			min-width: toRem(628);
		}
	}

	&__header {
		display: flex;
		justify-content: flex-end;
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 90, 20);
		}

		.cart-popup--primary & {
			&:not(:last-child) {
				@include adaptiveValue("margin-block-end", 40, 20);
			}
		}
	}

	&__wrapper {
	}

	&__content {
		@media (min-width: $mobileSmall) {
			max-width: toRem(320);
			.cart-popup--primary & {
				width: 100%;
				max-width: toRem(628);
			}
		}

		@include adaptiveValue("padding", 32, 12);

		&:not(.cart-popup--primary &) {
			text-align: center;

			@media (max-width: $mobile) {
				min-height: 100vh;
			}
		}
		@media (max-width: $mobileSmall) {
			padding-block-start: calc(var(--header-height) / 2);
		}

		@media (max-width: toEm(627.98)) {
			padding-block-start: calc(var(--header-height) / 2);
		}
	}

	&__title {
		font-weight: 700;

		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	&__text {
		font-size: toRem(14);
		line-height: 180%;
		&:not(:last-child) {
			margin-block-end: toRem(80);
		}
	}

	&__button {
		max-width: toRem(184);
		&:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: toRem(32);

		&:not(:last-child) {
			margin-block-end: toRem(32);
		}
	}
}

.item-cart-popup {
	display: flex;
	gap: toRem(8);

	&__image {
		position: relative;
		aspect-ratio: 142 / 163;
		max-width: toRem(142);
	}

	&__label {
		width: toRem(40);
		height: toRem(32);
		position: absolute;
		inset: toRem(8) toRem(8) auto auto;
	}

	&__body {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(12);

		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__title {
		font-weight: 700;
		line-height: 140%;
		@include adaptiveValue("font-size", 16, 12);
	}

	&__properties {
		display: flex;
		flex-direction: column;
		row-gap: toRem(8);

		&:not(:last-child) {
			margin-block-end: toRem(8);
		}
	}

	&__property {
		line-height: 180%;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(16);
	}

	&__price {
		font-weight: 700;
		line-height: 140%;
		@include adaptiveValue("font-size", 16, 12);
	}

	&__remove {
		@media (any-hover: hover) {
			&:hover,
			&:focus-visible {
				color: oklch(var(--text-secondary));
			}
		}
		@extend %transition-colors;
	}
}
