@use "../abstracts/base" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-settings" as *;
@use "../abstracts/breakpoints" as *;

.spollers {
}
.spollers__item {
}
[data-spoller-close] {
	position: relative;
	list-style: none;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
}
// Контент спойлера
.spollers__body {
	padding: toRem(20);
}

.header-spollers {
	&__item {
	}

	&__spoller {
	}

	&__title {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 180%;
		text-transform: capitalize;
		cursor: pointer;
		@extend .transition-colors;

		@media (any-hover: hover) {
			&:hover,
			&:focus {
				color: oklch(var(--text-secondary));
			}
		}

		&._spoller-active {
			color: oklch(var(--text-secondary));
		}
	}

	&__body {
		@include adaptiveValue("padding-block", 48, 26);
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		top: var(--header-height);
		z-index: 1;
		max-height: calc(100% - var(--header-height));
		background-color: oklch(var(--bg-tertiary));
		overflow: auto;
	}

	&__content {
	}
}

.body-spollers-header {
	&__container {
		display: grid;
		// grid-template-columns: minmax(46.56%, toRem(570)) 1fr;
		grid-template-columns: minmax(toRem(280), 1fr) minmax(53.43%, toRem(654));

		&--secondary {
			grid-template-columns: minmax(53.43, toRem(654)) 1fr;
		}

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
		row-gap: toRem(30);
		align-items: flex-start;
	}

	&__lists {
		display: flex;
		line-height: 180%;
		flex-wrap: wrap;
		gap: toRem(24);
		@include adaptiveValue("font-size", 18, 16);
		@media (min-width: $mobile) {
			@include adaptiveValue("padding-inline-end", 54, 12);
		}
	}

	&__block {
		&:not(&--image) {
			flex: 1 0 auto;
		}
	}

	&__category {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 24, 16);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(8);
	}

	&__item {
	}

	&__link {
		@extend .transition-colors;
		width: 100%;
		color: #404040;
		@media (any-hover: hover) {
			&:hover {
				color: oklch(var(--text-secondary));
			}
		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(182), 1fr));
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 24, 16);
	}

	&__block--image {
		@media (max-width: $mobile) {
			flex-grow: 1;
		}
		@media (any-hover: hover) {
			&:hover {
				p {
					color: oklch(var(--text-secondary));
				}
			}
		}
	}

	&__image {
		aspect-ratio: 288 / 420;

		.body-spollers-header__container--secondary & {
			aspect-ratio: 208 / 420;
		}

		&:not(:last-child) {
			margin-block-end: toRem(12);
		}

		p {
			@extend .transition-colors;
		}
	}
}
