@use "sass:math";
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/base" as *;
@use "@/scss/abstracts/breakpoints" as *;

.breadcrumbs {
	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 24, 12);
		row-gap: toRem(4);
	}

	&__item {
		@include adaptiveValue("font-size", 18, 12);
		line-height: 180%;

		&:has(span) {
			display: grid;
			grid-template-columns: auto toRem(7);
			@include adaptiveValue("column-gap", 24, 12);
		}
	}

	&__link {
		@extend %transition-colors;
		color: oklch(var(--text-secondary));

		._active & {
			color: oklch(var(--text-primary));
		}

		@media (any-hover: hover) {
			&:hover,
			&:focus-visible {
				color: oklch(var(--text-secondary));
			}
		}
	}
}
