@use "sass:math";
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/breakpoints" as *;
@use "@/scss/abstracts/base" as *;

.filters {
	&__search {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 40, 24);
		}
	}

	&__layout {
		display: grid;
		gap: toRem(24);

		@media (min-width: $mobile) {
			grid-template-columns: minmax(toRem(280), 32.02%) 1fr;
		}
	}

	&__forms {
	}

	&__counter {
		line-height: 180%;
		text-align: center;

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 24);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
		gap: toRem(24);

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 48, 16);
		}
	}

	&__load-more {
		@include adaptiveValue("padding-block-start", 24, 4);
		text-align: center;
	}
}

.filters-form {
	&__actions {
		display: flex;
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__button {
		flex: 1 1 50%;
		padding-block: toRem(8);
		padding-inline: toRem(16);

		@extend %transition-colors;

		&--reset {
			color: oklch(var(--text-secondary));

			@media (any-hover: hover) {
				&:hover {
					color: oklch(var(--text-tertiary));
					background-color: oklch(var(--bg-secondary));
				}
			}
		}

		&--submit {
			color: oklch(var(--text-tertiary));
			background-color: oklch(var(--bg-secondary));

			@media (any-hover: hover) {
				&:hover {
					color: oklch(var(--text-secondary));
					background-color: transparent;
				}
			}
		}

		span {
			font-size: toRem(14);
			line-height: math.div(24, 14);
		}
	}
}

.spollers-filters-form {
	display: flex;
	flex-direction: column;
	row-gap: toRem(16);

	&__spoller {
		border: toRem(1) solid oklch(var(--secondary));
	}
	&__title {
		position: relative;
		display: flex;
		color: oklch(var(--text-tertiary));
		font-weight: 700;
		line-height: 140%;
		text-transform: capitalize;
		background-color: oklch(var(--bg-secondary));
		cursor: pointer;
		padding-block: toRem(10);
		padding-inline: toRem(16);
		@extend %transition-colors;

		&._spoller-active {
			color: oklch(var(--text-secondary));
			background-color: transparent;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: toRem(16);
		width: toRem(14);
		height: toRem(14);
		color: oklch(var(--text-tertiary));
		transform: translateY(-50%);

		._spoller-active & {
			color: oklch(var(--text-secondary));
		}

		span {
			position: absolute;
			display: inline-flex;
			background-color: currentColor;
			border-radius: toRem(5);
			transition: transform 0.2s linear;
			@extend %transition-colors;

			&:first-child {
				top: 50%;
				left: 0;
				width: toRem(14);
				height: toRem(2);
				transform: translateY(-50%);
			}

			&:last-child {
				left: 50%;
				width: toRem(2);
				height: toRem(14);
				transform: translateX(-50%);

				._spoller-active & {
					transform: translateX(-50%) rotate(-90deg);
				}
			}
		}
	}

	&__content {
		padding-block: toRem(12);
		padding-inline: toRem(16);
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: toRem(4);
	}

	&__label {
		display: flex;
		gap: toRem(8);
		align-items: center;
		user-select: none;

		@media (any-hover: hover) {
			&:hover {
				span {
					font-weight: 600;
				}
			}
		}

		span {
			line-height: 180%;
		}
	}

	&__input {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(16);
		height: toRem(16);
		border: toRem(1) solid #a2b39f;
		appearance: none;
		@extend %transition-colors;

		&:checked {
			background-color: #5a6d57;
		}
	}
}
