@use "sass:math";
@use "@/scss/abstracts/base" as *;
@use "@/scss/abstracts/mixins" as *;

.header-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: toRem(16);

	&__link {
	}
}
