@use "sass:math";
@use "@/scss/abstracts/mixins" as *;

.label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: toRem(8);
	font-size: toRem(14);
	line-height: math.div(24, 14);
	background-color: oklch(var(--tertiary));
}
