@use "@/scss/abstracts/mixins" as *;

.password-block {
	position: relative;
	&__input {
	}

	&__unhide {
		position: absolute;
		top: 50%;
		right: toRem(16);
		z-index: 1;
		height: 100%;
		transform: translateY(-50%);

		svg {
			pointer-events: none;
		}
	}
}
