@use "../../abstracts/mixins" as *;

.password-block {
	position: relative;
	&__input {
	}

	&__unhide {
		position: absolute;
		right: toRem(16);
		height: 100%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		svg {
			pointer-events: none;
		}
	}
}
