@use "base";
@use "abstracts";
@use "abstracts/mixins" as *;
@use "themes";
@use "layout";
@use "components";

.page {
	@include adaptiveValue("margin-block-end", 44, 24);
}

body {
	// scrollbar-gutter: stable;
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

*[data-open-popup] {
	> * {
		pointer-events: none;
	}
}

html:not(.loaded) {
	* {
		transition: none;
	}
}

.visibility-hidden {
	position: absolute;
	width: 1px;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
}
